@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Got rid of default margins/ paddings and
set the border-sizing to include paddings for
easier height and widht management */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

img {
	width: 600px;
}

.buttons {
	display: flex;
	gap: 8px;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	background: #eee;
	padding: 8px 10px;
}

input {
	border: 1px solid #ddd;
	border-radius: 16px;
	padding: 8px 24px;
	width: 400px;
}

.header,
.footer {
	display: flex;
	padding: 8px;
	justify-content: space-between;
}

.left-links,
.right-links {
	display: flex;
	gap: 12px;
}

.footer {
	background-color: hsl(0, 0%, 90%);
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 50%);
	font-size: 12px;
}

ul {
	list-style: none;
}
