body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.header {
	height: 48px;
	background: darkmagenta;
	color: white;
	font-size: 24px;
	display: flex;
	align-items: center;
	font-weight: bold;
	padding-left: 24px;
}

.content {
	display: flex;
}

.sidebar {
	width: 400px;
	background: royalblue;
}

ul {
	margin-left: 24px;
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

li {
	margin-bottom: 8px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 32px;
}

.card {
	border: 1px solid #eee;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	height: 280px;
	width: 280px;
	padding: 16px;
}

.footer {
	height: 48px;
	background: #eee;
	color: darkmagenta;
	display: flex;
	justify-content: center;
	align-items: center;
}
